.card {
  position: relative;
  height: 88.73vh;
  width: 86.9vw;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 15px 33px rgba(0,0,0,.3);
  &--student {
    .card__image {
      width: 100%;
      height: 50vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .card__bottom {
      position: absolute;
      left: 6.3vw;
      right: 6.3vw;
      bottom: 5.2vh;
    }
  }
  &--mentor {
    text-align: center;
    .card__bottom {
      margin: 0 7vw;
    }
    .card__text {
      margin-top: 3.34vh;
    }
    .card__image {
      display: flex;
      height: 44.73vh;
      background-image: url('../img/photo-bg.svg');
      background-position: top center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      img {
        width: auto;
        margin: auto;
      }
    }
    .card__photo,
    .card__photo2x{
      margin: auto;
      width: 100%;
      height: 26.4vh;
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
    .card__photo2x {
      display: none;
    }
  }
  &--sticker {
    .card__image {
      display: flex;
      height: 33.8vh;
      background-position: top center;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
    .card__text {
      text-align: center;
    }
    .card__photo,
    .card__photo2x{
      height: 21.12vh;
      margin: auto;
      width: 100%;
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
    .card__photo2x {
      display: none;
    }
  }
  &__image {
    img {
      display: block;
      margin: 0 auto;
      width: auto;
    }
  }
  &__text {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 3vh 6.3vw 0;
  }
  &__name {
    text-transform: uppercase;
    color: #000;
    font-size: .875rem;
    letter-spacing: 1.5px;
    font-weight: 700;
  }
  &__school {
    line-height: 1.2em;
    margin-top: 1vh;
    color: #7f7f7f;
    font-size: .9375rem;
  }
  &__share {
    text-align: center;
    position: absolute;
    bottom: 4.5vh;
    left: 0;
    right: 0;
    a {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      font-size: .9375rem;
      line-height: 1.2em;
      color: #2f5acb;
      text-decoration: none;
      span {
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        content: '';
        margin-right: 3px;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        background-image: url('../img/share.jpg');
        background-size: auto 100%;
        background-position: left center;
        background-repeat: no-repeat;
      }
    }
  }
  &__download {
    position: absolute;
    text-align: center;
    padding: 2.4vh;
    left: 6.3vw;
    right: 6.3vw;
    bottom: 9.5vh;
    border-radius: 50px;
    font-size: 1.375rem;
    color: #000;
    text-decoration: none;
    background: #fedd61;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .card__photo {
    display: none;
  }
  .card__photo2x {
    display: block !important;
  }
  .card__share {
    a {
      &:before {
        background-image: url('../img/share2x.jpg');
      }
    }
  }
}