.card {
  position: relative;
  height: 88.73vh;
  width: 86.9vw;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 15px 33px rgba(0,0,0,.3);
  &--student {
    .card--image {
      width: 100%;
    }
    .card__bottom {
      position: absolute;
      left: 6.3vw;
      right: 6.3vw;
      bottom: 5.2vh;
    }
  }
  &--mentor {
    text-align: center;
    .card__bottom {
      margin: 0 7vw;
    }
    .card__text {
      position: absolute;
      bottom: 9.6vh;
      left: 0;
      right: 0;
    }
    .card__image {
      display: flex;
      height: 44.73vh;
      background-image: url('../img/photo-bg.svg');
      background-position: top center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      img {
        width: auto;
        margin: auto;
      }
    }
    .card__photo {
      margin: auto;
      width: 100%;
      height: 26.4vh;
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }
  &__image {
    img {
      display: block;
      margin: 0 auto;
      width: auto;
    }
  }
  &__text {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 3vh 6.3vw 0;
  }
  &__name {
    text-transform: uppercase;
    color: #000;
    font-size: .875rem;
    letter-spacing: 1.5px;
    font-weight: 700;
  }
  &__school {
    line-height: 1.2em;
    margin-top: 1vh;
    color: #7f7f7f;
    font-size: .9375rem;
  }
}