@import "reset";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-sm;
}

body {
  font-family: 'YandexSansDisplay';
  font-weight: normal;
  background: #1b1b1b;
}

@media screen and (min-width: 321px) {
  html {
    font-size: $font-size-md;
  }
}

@media screen and (min-width: 361px) {
  html {
    font-size: $font-size-lg;
  }
}

@media screen and (max-height: 480px) {
  html {
    font-size: $font-size-xs;
  }
}