@import "reset";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: 'YandexSansDisplay';
  font-weight: normal;
  background: #1b1b1b;
}