.owl-carousel {
    width: 91.38vw;
    height: 93vh;
    margin: 0 auto;
    .owl-stage-outer {
        overflow: visible;
    }
    .owl-item {
        > div {
            height: 100vh;
            display: flex;
        }
    }
}