doctype html
html
    head
        link(rel='stylesheet', href='css/libs.css')
        link(rel='stylesheet', href='css/build.css')
        script(src='js/libs.js')
        script(src='js/build.js')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
    body
        .wrapper
            .owl-carousel.owl-theme
                each mentor, i in mentors
                    div
                        .card.card--mentor
                            .card__image
                                .card__photo(style="background-image: url(img/photos/" + mentor.image + ");")
                            .card__bottom
                                .card__name=mentor.name
                                .card__school=mentor.activity
                                .card__text=mentor.blockquote
                div
                    .card.card--student
                        .card__image
                            img(src="img/photo1.png")
                        .card__text.
                            Спасибо за заботу, мотивацию и любовь. Вы - огонь
                        .card__bottom
                            .card__name
                                | Даша Воронцова
                            .card__school
                                | Школа мобильного дизайна
                div
                    .card.card--student
                        .card__image
                            img(src="img/photo1.png")
                        .card__text.
                            Спасибо за заботу, мотивацию и любовь. Вы - огонь
                        .card__bottom
                            .card__name
                                | Даша Воронцова
                            .card__school
                                | Школа мобильного дизайна
                div
                    .card.card--student
                        .card__image
                            img(src="img/photo1.png")
                        .card__text.
                            Спасибо за заботу, мотивацию и любовь. Вы - огонь
                        .card__bottom
                            .card__name
                                | Даша Воронцова
                            .card__school
                            | Школа мобильного дизайна
                div
                    .card.card--mentor
                        .card__image
                        .card__bottom
                            .card__name
                                | Сергей Калабин
                            .card__school
                                | Куратор и преподаватель школы
                                br
                                | мобильного дизайна
                            .card__text
                                | Всё зависит от задачи,
                                | ситуации, человека
                                | и много чего ещё.